*.ncb
*BuildLog.htm
*.bak
*.vcproj.*.user
*.vcproj.user
*.vcxproj.user
*.vcxproj.filters
*.suo
*.o
*.a
*.sdf

*/[dD]ebug/
*/[rR]elease/
*/*/[dD]ebug/
*/*/[rR]elease/
*/*/*/[dD]ebug/
*/*/*/[rR]elease/
*/ipch/
*/*/ipch/

